* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}

body {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(54, 137, 214), rgb(16, 74, 128));
    height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

td {
    background-color: transparent;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
}