* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    font-family: 'JetBrains Mono', monospace;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-calendar {
    text-transform: uppercase;
    padding: 5px;
    font-weight: 600;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    gap: 20px;
}

#mes {
    font-size: 25px;
}

.btn {
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5fb7e7;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.btn:hover {
    background: #00a6ff;
    border: #5fb7e7;
}

.calendar table {
    border-collapse: collapse;
}

.calendar thead{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #b9b9b9;
    border-radius: 20px;
}

.calendar td {
    background: #fff;
    width: 42.85px;
    height: 42.85px;
    text-align: center;
}

.calendar tbody td {
    cursor: pointer;
    border: 1px solid #b9b9b9;
}

.calendar tbody td:hover {
    background: #00a6ff;
    color: #fff;
}

.calendar table .dia-atual {
    background: #00a6ff;
    color: #fff;
}

.calendar .mes-anterior, .calendar .proximo-mes {
    opacity: .6;
    color: #7a7a7a;
} 

.event {
    position: relative;
}

.event:after {
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 3px;
    background: #5fb7e7;
    margin: -3.5px 0 0 -3.5px;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover:after {
    background: #fff;
}

.event.dia-atual:after {
    background: #fff;
}