* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom,rgb(134, 134, 255),rgb(134, 94, 203),rgb(103, 103, 255));
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.hide {
    display: none;
}

.container {
    background: linear-gradient(to top, rgb(84, 84, 205), rgb(112, 112, 255));
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    border-radius: 1rem;
}

.form h3 {
    margin-bottom: 1rem;
}

.form-input {
    display: flex;
    margin-bottom: 1rem;
}

.form-input input {
    width: 100%;
    padding: .8rem;
    border-radius: 4px;
    border: none;
}

.form-input button {
    padding: .8rem;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgb(145, 185, 255);
    color: #fff;
    cursor: pointer;
}

.weather-data {
    padding-top: 1rem;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.weather-data h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#country {
    width: 25px;
}

#temperatura {
    display: flex;
    gap: 10px;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#details-container {
    display: flex;
    align-items: center;
    justify-content: center;margin-top: 30px;
    gap: 20px;
}

#umidify {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 1px;
    border-right: 1px solid #fff;
    padding-right: 20px;
}
#wind {
    display: flex;
    gap: 10px;
}